.a{width: 200px;
    height: 200px;
    background-color: blue;
    margin-left: 300px;

}
.b{
    width: 200px;
    height: 200px;
    background-color: red;
    margin-left: 300px;
}
inp1{
    width: 200px;
}